<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>spycart</title>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18714770-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	
	<style>
	
	body { font-family: georgia; }
	img { border: 0px; }
	
	</style>
</head>
<body>

{% block content %}{% endblock %}


<a href="http://djangoproject.com" target="_blank"><img src="/static/images/django.gif" title="Yeah, I said Django."></a>

</body>
</html>